@tolley:registry=https://lnlpuseast.jfrog.io/artifactory/api/npm/uk-npm-virtual/
@lnds:registry=https://lnlpuseast.jfrog.io/artifactory/api/npm/uk-npm-virtual/
registry=https://registry.npmjs.org/
always-auth=false
audit=false
fund=false
legacy-peer-deps=true